@import url('https://fonts.googleapis.com/css?family=Poppins:300i|Raleway&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
/*	avoids incresing width and height when adding padding or borders*/
	
}

body{
	font-family: 'Raleway', sans-serif;
}

#logo {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 100px;
	height:auto;
	
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-bottom: 16px;
	text-align: center;
}

h1 {align-content: center;
}

nav {
	background-color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}

nav a:link {
    padding: 10px;
	padding-right: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    display: inline-block;
    color: #153D5E; 
    text-decoration: none;
}

nav a:visited {
    color: #dbb554
}

nav a:hover {
    background-color: #9BB823;
    color: #fff;
}

nav a:active {
    background-color: #CECFC7;
	color: #5660D8; 
	font-weight: bold; 
}

p {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 24px;
}

#image_1{
	width: 100%;
	min-height:100vh;
	height: auto;
	border: solid 20px #fff;
	background: url("../images/bg1.png") no-repeat fixed center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#image_1 hgroup {
	background-color: #FFFFFF;
	padding: 20px;
}

#image_1 h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 72px;
	text-transform: uppercase;
	font-weight: bold;
	
}
#image_1 h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	text-transform: lowercase;
	font-weight: 400;
	font-style: italic; 
}

.multi_col{
	padding: 40px;
	min-height: 30vh;
	height: auto;

}

.multi_col article {
	column-count: 3;
	column-gap: 20px;
	font-family: 'Raleway', sans-serif;
	
		
}

#image_2 {
	width: 100%;
	min-height:100vh;
	height: auto;
	border: solid 20px #fff;
	background: url("../images/bg2.jpg") no-repeat fixed center center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start
	
}

#image_2 article {
	background: #fff;
    padding: 20px;
	width: 30%;
	margin: 20px;
		
}

#image_3 {
	width: 100%;
	min-height:100vh;
	height: auto;
	border: solid 20px #fff;
	background: url("../images/bg3.png") no-repeat fixed center center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#image_3 article {
	background: #fff;
    padding: 20px;
	width: 30%;
	margin: 20px;
	align-items: baseline;
	height: auto; 
}

   #image_1 .homework {
	width: 100%;
	height: 70vh;
	background: url("../images/bg1.jpg") no-repeat fixed center center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 20px;
	
}



/*========SECOND PAGE HOME WORK =========*/

.sm_hero{
	width: 100%;
	min-height: 40vh;
	height: auto;
	border: solid 20px #fff; 
	background: url("../images/bg1.png") no-repeat fixed center center ;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 100px;
	
}


.sm_hero h1{
	color: #fff;
	font-size: 72px;	
}

.sm_hero h2 {
	color: #eee;
	font-size: 26px;
}

	#image_3 article {
	background-color: #CFE577;
    text-align: center;
    padding: 80px;
    position: relative;
    top:40px;
    left:0px;
    width:100%;
	color: #153D5E;
	font-size: 72px;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
    text-decoration: none;
	line-height: 72px;
		
}

	
	






